In [ ]:
!pip3 install mxnet-cu110

Collecting mxnet-cu110
  Downloading https://files.pythonhosted.org/packages/94/9d/deaccef6bac02e3a868ef8de07e4dc8c1c215b810b4bd853bec6964190ba/mxnet_cu110-1.8.0.post0-py2.py3-none-manylinux2014_x86_64.whl (323.5MB)
     |████████████████████████████████| 323.5MB 47kB/s
Requirement already satisfied: requests<3,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from mxnet-cu110) (2.23.0)
Collecting graphviz<0.9.0,>=0.8.1
  Downloading https://files.pythonhosted.org/packages/53/39/4ab213673844e0c004bed8a0781a0721a3f6bb23eb8854ee75c236428892/graphviz-0.8.4-py2.py3-none-any.whl
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /usr/local/lib/python3.7/dist-packages (from mxnet-cu110) (1.19.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet-cu110) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet-cu110) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet-cu110) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.20.0->mxnet-cu110) (1.24.3)
Installing collected packages: graphviz, mxnet-cu110
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
Successfully installed graphviz-0.8.4 mxnet-cu110-1.8.0.post0

In [ ]:
import matplotlib.pyplot as plt
import mxnet as mx
import pandas as pd
import seaborn as sns

In [ ]:
# Perceptron Model
def perceptron(weights, bias, features):
    return mx.nd.dot(features, weights) + bias

In [ ]:
# Loading data
house_df = pd.read_csv("kc_house_data.csv")

In [ ]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
# Only interested in living square feet, bathrooms and grade
house_df = house_df[["price", "sqft_living", "bathrooms", "grade"]]

In [ ]:
house_df.head()

      price  sqft_living  bathrooms  grade
0  221900.0         1180       1.00      7
1  538000.0         2570       2.25      7
2  180000.0          770       1.00      6
3  604000.0         1960       3.00      7
4  510000.0         1680       2.00      8

In [ ]:
# One-hot encoding
grade_onehot = pd.get_dummies(house_df.grade)
house_df = pd.concat([house_df, grade_onehot], axis=1)
house_df = house_df.drop("grade", axis=1)

      price  sqft_living  bathrooms  1  3  4  5  6  7  8  9  10  11  12  13
0  221900.0         1180       1.00  0  0  0  0  0  1  0  0   0   0   0   0
1  538000.0         2570       2.25  0  0  0  0  0  1  0  0   0   0   0   0
2  180000.0          770       1.00  0  0  0  0  1  0  0  0   0   0   0   0
3  604000.0         1960       3.00  0  0  0  0  0  1  0  0   0   0   0   0
4  510000.0         1680       2.00  0  0  0  0  0  0  1  0   0   0   0   0

In [ ]:
house_df.head()

      price  sqft_living  bathrooms  1  3  4  5  6  7  8  9  10  11  12  13
0  221900.0         1180       1.00  0  0  0  0  0  1  0  0   0   0   0   0
1  538000.0         2570       2.25  0  0  0  0  0  1  0  0   0   0   0   0
2  180000.0          770       1.00  0  0  0  0  1  0  0  0   0   0   0   0
3  604000.0         1960       3.00  0  0  0  0  0  1  0  0   0   0   0   0
4  510000.0         1680       2.00  0  0  0  0  0  0  1  0   0   0   0   0

In [ ]:
# Number of Features: number of columns of dataframe except output (price)

number_of_features = len(house_df.columns) - 1
print(number_of_features)

14

In [ ]:
# Number of outputs: 1 (price)
number_of_outputs = 1

In [ ]:
# Model Parameters Definition + Initialization
weights = mx.nd.random_normal(shape=(number_of_features, number_of_outputs))
bias = mx.nd.random_normal(shape=number_of_outputs)

In [ ]:
# Input features of an example
example_input = mx.nd.array(house_df.iloc[0].drop("price").to_numpy())
print(example_input)

[1.18e+03 1.00e+00 0.00e+00 0.00e+00 0.00e+00 0.00e+00 0.00e+00 1.00e+00
 0.00e+00 0.00e+00 0.00e+00 0.00e+00 0.00e+00 0.00e+00]
<NDArray 14 @cpu(0)>

In [ ]:
# Expected output of the example (price)
expected_output = house_df.iloc[0].price
print(expected_output)

221900.0

In [ ]:
# Calculate the prediction of our model
model_output = perceptron(weights, bias, example_input).asnumpy()[0]
print(model_output)

2610.2383

In [ ]:
# How much error
error_abs = abs(expected_output - model_output)
error_perc = error_abs / expected_output * 100
print("Absolute Error:", error_abs)
print("Relative Error (%):", error_perc)

Absolute Error: 219289.76171875
Relative Error (%): 98.82368711976115